body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #8C2F20;
    align-items: center;
}

.form-login {
    flex-basis: 450px;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer {
    display: flex;
    justify-content: flex-end;
}